.navbar {
  background-color: #222;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #61dafb;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #61dafb;
}
