body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.usuarios-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.usuario-card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    transition: 0.2s;
}

.usuario-card:hover {
    transform: scale(1.03);
}

.usuario-foto {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 12px;
}

.usuario-info h2 {
    margin: 5px 0;
}

.generos {
    margin-top: 10px;
}

.generos span {
    display: inline-block;
    background: #e3e3e3;
    padding: 4px 8px;
    border-radius: 8px;
    margin: 2px;
    font-size: 12px;
}


.foto-perfil {
    width: 260px;
    height: 350px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 12px;
}

.tag {
  background-color: #007bff;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  margin-left: 5px;
  align-items: center;
}
